.section-agenda{
    background: var(--color-grey-light);
    min-height: 700px;
}

.agenda-tarefas{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    font-size: 1.5rem;
    color: var(--color-grey);
}

.agenda-tarefas p.ativo {
    color: var(--color-black);
    font-weight: bold;
    transform: scale(1.05);
}

.agenda-tarefas p:hover {
    cursor: pointer;
}