.cardAtiv-container{
    background-color: var(--color-white);
    padding: 32px 32px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardAtiv-container h3{
    font-weight: 600;
    font-size: 32px;
    margin-top: 30px;   
    text-align: center;
}

.icon-card-atividade{
    width: 200px;
}

.opcoes-modificar-aula{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .cardAtiv-container {
        padding: 28px 24px;
    }
    
    .cardAtiv-container h3 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .icon-card-atividade {
        width: 50px;
        height: 65px;
    }
}

@media (max-width: 480px) {
    .cardAtiv-container {
        padding: 24px 20px;
    }
    
    .cardAtiv-container h3 {
        font-size: 20px;
    }
}
