.formulario-container{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/* ========================================
   RESPONSIVIDADE CADASTRO
   ======================================== */

/* Tablet */
@media (max-width: 1024px) {
    .formulario-container {
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .formulario-container {
        position: relative;
        flex-direction: column;
        min-height: 100vh;
        background: linear-gradient(
            to bottom,
            rgba(143, 1, 1, 0.6) 0%,
            rgba(143, 1, 1, 0.5) 100%
        );
    }
}

@media (min-width: 769px) {
    .formulario-container {
        flex-direction: row;
    }
}